@import "./colors";

:host {
    display: block;

    margin-top: 20px;
    padding: 20px;

    background-color: $color-field-background;

    label {
        margin-right: 10px;
    }

    &:first-child {
        margin-top: 0;
    }
}
