@import "./colors";

:host {
    display: block;

    padding: 20px 40px;

    #input {
        height: 200px;
        width: 100%;
    }

    .fields {
        margin-top: 40px;
        padding: 20px;

        background-color: $color-field-background;
    }
}
